@model Clientes.Models.Cliente

@{
    ViewData["Title"] = "Deletar";
}

<h2>Deletar</h2>
<h4>Cliente</h4>
<hr />
<h3>Tem Certeza que deseja deletar este cliente?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorDevido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorDevido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vencimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vencimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="SIM" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
